{% include 'includes/header.html' %}
    <div class="container-fluid ">
       
        <div class="row">
            <div class="col-lg-8">
              <h1 class="mb-4">{{post.title}}</h1>
              <p class="text-muted">{{post.created_at}}</p>
              <img style="height:800;width:400" src={{post.formatted_img_url}} class="img-fluid mb-4" alt="Blog Image">
              <p>{{post.content}}</p>
            </div>
            <div class="col-lg-4">
              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title">Related Posts</h5>
                  <ul class="list-unstyled">
                    {% for related_post in related_posts %}
                    <li><a href="{% url 'alpha:post' slug=related_post.slug %}">{{related_post.title}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>

<footer class="bg-dark text-light p-3">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <span class="text-light">© 2026 Company, Inc</span>
  </div>
</footer>