{% include 'includes/header.html' %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center">Reset Password</h2>
                <div class="">
                     <!-- Error messages -->
                    {%for field in form%}
                    {%if field.errors %}
                        <div class="col-12">
                            <span class="fw-bold"> {{field.label_tag}} </span>
                            {%for error in field.errors%}
                            <span class="text-danger"> {{error}} </span>
                            {%endfor%}
                        </div>
                    {%endif%}
                    {%endfor%}
                    <!--Non field error-->
                    {% for error in form.non_field_errors%}
                        <div class="alert alert-danger">
                            <span class="text-danger">
                                {{error}}
                            </span>
                        </div>
                    {%endfor%}
                     <!--Success message-->
                    {% if messages%}
                        {% for message in messages%}
                            <div class="alert alert-success">
                                {{message}}
                            </div>
                        {%endfor%}
                    {%endif%}
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="new_password" name="new_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm_password" name="password_confirm" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'alpha:login'%}">Back to Login</a>
                </div>
            
            </div>
        </div>
    </div>
{% include 'includes/footer.html' %}
      
   